@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

html,
body {
	font-family: "Montserrat", sans-serif;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}

body * {
	box-sizing: border-box;
	overflow: hidden;
}

.header {
	padding: 1rem 4rem;
	background-color: #232f3e;
	display: flex;
	align-content: center;
}

.nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.input-group {
	width: 50%;
}

#search_btn {
	background-color: #febd69;
	height: 3.4rem;
	width: 3.4rem;
	font-size: 1.6rem;
}

#search {
	height: 3.4rem;
	padding: 1rem;
	font-size: 1.6rem;
}

.header-btns {
	display: flex;
	align-items: center;
	gap: 30px;
	color: #febd69;
}

#login_btn {
	color: #febd69;
	font-size: 1.6rem;
}

#cart {
	color: #febd69;
	font-size: 1.6rem;
}
